html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
    background-color: #9476AB;
}

#mazeText {
    color: white;
    top: 10px;
    right: 10px;
    padding: 24px;
    padding-right: 80px;
    position: absolute;
    font-size: 22pt;
    z-index: 1;
}

#container {
    position: relative;
    top: 5%;
}

#progress {
    background-color: #210439;
    padding: 14px;
    padding-left: 25px;

    font-size: 14pt;
    color: #E9D0EA;
}

#question {
    color: white;
    font-size: 22pt;
    padding: 12px;
    padding-left: 30px;
}

.answer {
    text-align: center;
    font-size: 20pt;
    color: #E9D0EA;
    border: 2px solid #555200;
    background-color: #381356;
    margin: 11px;
    padding: 14px;
    border-radius: 5px;
}
.answer:hover {
    background-color: #714C8F;
    cursor: pointer;
}

#explanation {
    text-align: right;
    padding: 40px;
    padding-right: 100px;
    color: #E9D0EA;
    font-size: 18pt;
}

#navcontainer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav {
    float: right;
    text-align: right;
    margin: 24px;
    padding: 16px;
    background-color: #210439;
    border-radius: 5px;
    color: #E9D0EA;
    font-size: 16pt;
}

.nav:hover {
    cursor: pointer;
}

#instructDiv {

    z-index: 1;

    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:#210439;

    text-align: center;
    display: table;
}
#instructDiv > p {
    display: table-cell;
    vertical-align: middle;
}

#instructP {
    font-size: 32pt;
    color: white;

    opacity: 1;
    transition: opacity 0.75s;
}

#instructP.fade {
    opacity: 0;
}